{
    "plugins": ["transform-runtime", "transform-object-rest-spread"],
    "presets": [["env"]],
    "env": {
        "test": {
            "presets": [["env", { "targets": { "node": "current" } }]]
        }
    }
}
